//$themes: (
//    light: (
//        main: #16141c,
//        secondary: #6d4aff,
//        text: #a7a4b5,
//        border: #4a4658,
//        blue: #415df0,
//        gray: #312f3c,
//        dark_gray: #292733,
//        white: white,
//    ),  
//    dark: (
//        main: #16141c,
//        secondary: #6d4aff,
//        text: #a7a4b5,
//        border: #4a4658,
//        blue: #415df0,
//        gray: #312f3c,
//        dark_gray: #292733,
//        white: white,
//    ),
//);
//

$main: #16141c;
$secondary: #6d4aff;
$text: #a7a4b5;
$border: #4a4658;
$blue: #415df0;
$gray: #312f3c;
$dark_gray: #292733;
$white: white;