@use 'login';
@use 'home_page';
@use 'header';
@use 'left_bar';
@use 'main_calendar';
@use 'mini_calendar';
@use 'right_bar';
@use 'todo';
@use 'modals/createEvent';
@use 'modals/eventsDetails';
@import './functions.scss';




*{
    box-sizing: border-box;
}

body, html {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: $white;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.App, #root{
    height: 100%;
    width: 100%;
}


.button{
    @include padding(10px, 10px, 15px, 15px);
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    @include center();
}

.v_divider{
    height: 75%;
    border-right: 1px solid $border;
    @include margin(0px, 0px, 10px, 10px);
}
.h_divider{
    width: 75%;
    border-right: 1px solid $border;
    @include margin(0px, 0px, 10px, 10px);
}

.primary_button{
    background-color: transparent;
    border: 1px solid $secondary;
    color: $secondary;

}
.secondary_button{
    background-color: transparent;
    border: none;
    color: $white;

}

.primary_button:hover{
    background-color: $hover;
}
.secondary_button:hover{
    background-color: $gray;
}