$main: #16141c;
$secondary: #6d4aff;
$text: #a7a4b5;
$border: #4a4658;
$blue: #415df0;
$gray: #312f3c;
$dark_gray: #292733;
$white: white;
$hover: #21164d;


body, html {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: $white;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.App, #root{
    height: 100%;
    width: 100%;
}