$main: #16141c;
$secondary: #6d4aff;
$text: #a7a4b5;
$border: #4a4658;
$blue: #415df0;
$gray: #312f3c;
$dark_gray: #292733;
$white: white;
$hover: #21164d;

@mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin padding($top: 0px, $bottom: $top, $right: $top, $left: $top) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-right: $right;
    padding-left: $left;
}
@mixin margin($top: 0px, $bottom: $top, $right: $top, $left: $top) {
    margin-top: $top;
    margin-bottom: $bottom;
    margin-right: $right;
    margin-left: $left;
}


@mixin grid($n_cols: 1, $row_gap: 0px, $col_gap: 0px) {
    display: grid;
    grid-template-columns: repeat($n_cols, minmax(0, 1fr));
    gap: $row_gap $col_gap
}

