@import './functions.scss';



#header{
    display: flex;
    justify-content: space-between;
    @include padding(10px);
    align-items: center;
}


#header_right_div > :first-child{
    @include margin(0px, 0px, 20px, 0px);
}

#header_right_div{
    display: flex;
}
