@import './functions.scss';



#left_bar{
    min-width: 300px;
    height: 100%;
    @include padding(0px,0px,10px,10px);
    
}


.big_button{
    font-size: 18px;
    border: none;
    width: 100%;
    color: $white;
    background-color: $secondary;
    @include padding(10px,10px,0px,0px);
    @include margin(0px,20px,0px,0px);
}




