@import './functions.scss';









#main_calendar_container{
    display: flex;
    width: 100%;
    border: 1px solid $border;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    
}
#main_calendar{
    width: 100%;
    display: flex;
}
#calendar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#calendary_center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#calendar_items{
    width: 100%;
    flex: 1 1 auto;
    @include grid(7, 0px, 0px);
    border-top: 1px solid $border;
}
#week_n{
    height: 100%;
    width: 20px;
    background-color: $dark_gray;
}
#week_n > *{
    border-top: 1px solid $border;
    border-right: 1px solid $border;
    @include center();
}

#calendar_days{
    display: flex;
    width: 100%;
}
#calendar_days > *{
    width: calc( (100% - 20px)/7 );
    display: flex;
    align-items: center;
    justify-content: center;
    @include padding(10px, 10px, 0px, 0px);
    height: 100%;
}
#calendar_days > :first-child{
    width: 20px;
}

.day_item{
    height: 30px;
}
.calendar_item{
    @include padding(10px, 0px, 0px, 0px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $border;
    border-right: 1px solid $border;
}
// all elements to the bottom
.calendar_item:not(:nth-last-child(n+8)){
    border-bottom: none;
}
// all elements to the right
.calendar_item:nth-child(7n){
    border-right: none;
}
.calendar_item > :first-child(){
    background-color: red;
}



#main_calendar{
    display: flex;
    flex-direction: column;
}

#calendar_app_bar{
    border-bottom: 1px solid $border;
    @include padding(5px, 5px, 10px, 10px);
    display: flex;
    justify-content: space-between;
}

#calendar_app_bar > *{
    display: flex;
    align-items: center;
    justify-content: center;
}

















.event_item, .event_item_see_more{
    cursor: pointer;
    width: 100%;
    height: 30px;
}
.event_item_see_more{
    
}

.event_item_see_more > :first-child{
    border-radius: 10px;
    width: 100%;
    height: 100%;

    @include center();
}
.event_item > :first-child:hover, .event_item_see_more > :first-child:hover{
    background-color: $dark_gray;
}


.event_item_first{
    border-left: 10px solid $blue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.event_item_last{

}



.event_item > :first-child{

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 100%;
    height: 100%;
    background-color: $gray;
    @include center();
}
.event_item_first > :first-child{
    width: 100%;
    height: 100%;
    background-color: $gray;
}
.event_item_last > :first-child{
    width: 100%;
    height: 100%;
    background-color: $gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}




.active_day{
    border: 2px solid $secondary !important;
    background-color: rgb(112, 77, 255, 0.2) !important;
}
