@import './functions.scss';



#mini_calendar_app_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mini_calendar_app_bar > :nth-child(2){
    display: flex;
}

#content_left{
    width: calc(100%/8);
    border-right: 1px solid $border;
}
#content_left > :first-child{
    aspect-ratio: 1/1;
}
#content_left > *{
    cursor: pointer;
    border-radius: 5px;
}

#content_left > *:hover{
    background-color: $gray;
}


#content_left > *{
    @include center();
    @include padding(5px)

}

#mini_calendar_content{
    display: flex;
    width: 100%;
    font-size: smaller;
    font-weight: 500;
}
#content_grid{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content_grid_row{
    display: flex;
    height: calc(100%/7);
}
.content_grid_row > *{
    width: 100%;
    @include center();
    cursor: pointer;
    border-radius: 5px;
}
.content_grid_row > *:hover{
    background-color: $gray;
}

#days_grid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

#days_grid > *{
    height: 100%;
    width: 100%;
    @include center();
    cursor: pointer;
    border-radius: 5px;
}
#days_grid > *:hover{
    background-color: $gray;
}


