$main: #16141c;
$secondary: #6d4aff;
$text: #a7a4b5;
$border: #4a4658;
$blue: #415df0;
$gray: #312f3c;
$dark_gray: #292733;
$white: white;


@mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin grid($n_cols: 1, $row_gap: 0px, $col_gap: 0px) {
    display: grid;
    grid-template-columns: repeat($n_cols, minmax(0, 1fr));
    gap: $row_gap $col_gap
}
@mixin padding($top: 0px, $bottom: $top, $right: $top, $left: $top) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-right: $right;
    padding-left: $left;
}

@mixin margin($top: 0px, $bottom: $top, $right: $top, $left: $top) {
    margin-top: $top;
    margin-bottom: $bottom;
    margin-right: $right;
    margin-left: $left;
}



#todo_main{
    width: 100%;
    display: flex;
    overflow-x: auto;
}






.category_box{
    /*background-color: green;*/
    @include margin(0px, 0px, 0px, 20px);
}
.category_box:first-of-type{
    @include margin(0px, 0px, 0px, 10px);
}

.cat_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid red;
    border-radius: 5px;
    min-width: 300px;
    background-color: $gray;
    height: fit-content;
    @include padding(10px);
    @include margin(0px, 20px);

}
.cat_header > *{
    display: flex;
    align-items: center;
}
.cat_header:hover .cat_icons{
    display: flex;
}
.cat_icons{
    display: none;
}
.cat_icons > * {
    box-sizing: content-box;
    border-radius: 10px;
    @include padding(5px);
    cursor: pointer;
}
.cat_icons > *:hover{
    background-color: $dark_gray;
}

.cat_title > :nth-child(2){
    @include padding(5px, 5px, 20px, 20px);
    @include margin(0px, 0px, 20px, 20px);
    
    border-radius: 20px;
    border: 1px solid $border;        
}

.task{
    @include margin(0px, 20px);
    align-items: center;
    border-radius: 5px;
    background-color: $gray;
    height: fit-content;
    @include padding(10px); 
}

.add_sub_task{
    @include padding(5px); 
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
}
.add_sub_task:hover{
    background-color: $dark_gray;
}